In [1]:
import pandas as pd
from phintel_funcs import *

In [7]:
primary_db_update()

,URL,Source,Date,Notes,Target,Domain
0,https://duet-alliance.ru/cli/confirm/webapps/2...,openphish,2021-11-20 16:19:08+00:00,Free Dataset,Other,duet-alliance.ru
1,http://event-ff-68.duckdns.org/,openphish,2021-11-20 16:19:08+00:00,Free Dataset,Other,duckdns.org
2,http://rakuten.co.jp.ravtenip.xyz/,openphish,2021-11-20 16:19:08+00:00,Free Dataset,Other,ravtenip.xyz
3,https://digitalkarachi.pk/freas/validation/,openphish,2021-11-20 16:19:08+00:00,Free Dataset,Other,digitalkarachi.pk
4,http://grocery-undress.clodui.com/?authorize?c...,openphish,2021-11-20 16:19:08+00:00,Free Dataset,Other,clodui.com
...,...,...,...,...,...,...
317244,https://www.kmgzkk.cyou/,phishstats,2021-10-18 21:21:37,Score: 3.4,Other,kmgzkk.cyou
317245,https://www.isakovo.com/wp-content/dapps.html,phishstats,2021-10-18 21:21:36,Score: 2.1,Other,isakovo.com
317246,https://www.isaacdonnelly.com/refi/wells.htm,phishstats,2021-10-18 21:21:34,Score: 5.8,Other,isaacdonnelly.com
317247,https://www.isaacdonnelly.com/refi/index.htm,phishstats,2021-10-18 21:21:33,Score: 5.4,Other,isaacdonnelly.com
317248,https://www.internetservicetech.com/landingpag...,phishstats,2021-10-18 21:21:32,Score: 3.5,Other,internetservicetech.com

In [4]:
df_primary = pd.read_csv('primary.csv', on_bad_lines='skip')
df_primary.head()

,URL,Source,Date,Notes,Target,Domain
0,https://duet-alliance.ru/cli/confirm/webapps/2...,openphish,2021-11-20 13:55:33+00:00,Free Dataset,Other,duet-alliance.ru
1,http://event-ff-68.duckdns.org/,openphish,2021-11-20 13:55:33+00:00,Free Dataset,Other,duckdns.org
2,http://rakuten.co.jp.ravtenip.xyz/,openphish,2021-11-20 13:55:33+00:00,Free Dataset,Other,ravtenip.xyz
3,https://digitalkarachi.pk/freas/validation/,openphish,2021-11-20 13:55:33+00:00,Free Dataset,Other,digitalkarachi.pk
4,http://grocery-undress.clodui.com/?authorize?c...,openphish,2021-11-20 13:55:33+00:00,Free Dataset,Other,clodui.com

In [5]:
target_agg = df_primary[df_primary['Target'] != 'Other']
primary_db_aggregate(target_agg, 'Target').head(10)

                      Target  URL
48  Internal Revenue Service  310
38                  Facebook  164
90                eBay, Inc.  148
62                    PayPal  122
55                 Microsoft  122
25                     Caixa   43
47                ING Direct   36
13           Banco De Brasil   34
60                    Orange   32
41                    Google   31

In [24]:
dom_agg = primary_db_aggregate(df_primary, 'Domain').sort_values(by='URL', ascending=False)

In [25]:
dom_agg.head()

                Domain   URL
169832  discordapp.com  8016
73930         1drv.com  7415
170190     duckdns.org  4058
175547        live.com  3386
172409      google.com  3378

In [20]:
df_primary['Date'].fillna(datetime('2021-01-01'))

TypeError: an integer is required (got type str)

In [11]:
time_agg.head(20)

                         Date  URL
0   2008-11-07 15:04:00+00:00    1
1   2009-12-03 10:40:26+00:00    1
2   2011-02-18 10:50:32+00:00    1
3   2012-06-14 15:19:26+00:00    1
4   2013-04-30 07:16:53+00:00    1
5   2013-05-18 23:52:56+00:00    1
6   2013-05-28 15:59:31+00:00    1
7   2013-09-30 13:24:39+00:00    1
8   2014-01-24 18:51:07+00:00    1
9   2014-02-28 08:51:20+00:00    1
10  2014-07-01 15:48:04+00:00    1
11  2014-09-11 10:55:35+00:00    1
12  2015-04-08 09:20:41+00:00    1
13  2015-04-08 09:20:43+00:00    1
14  2015-04-08 10:21:16+00:00    1
15  2015-04-08 10:21:18+00:00    1
16  2015-04-15 06:03:54+00:00    1
17  2015-08-12 06:18:06+00:00    1
18  2015-08-17 20:58:57+00:00    1
19  2015-09-26 08:21:08+00:00    1

In [3]:
conn = sqlite3.connect('./primary.sqlite')
#df_primary.to_sql('main', conn, if_exists='replace', index=False)
primary_db = pd.read_sql('SELECT * FROM main', con=conn)

In [8]:
sources = list(primary_db['Source'].unique())
source_lst = [{'label': 'all'}] + [{'label': source} for source in sources]

In [14]:
sources = [source for source in sources if source]
'|'.join(sources)

'openphish|phishstats|phishtank'

In [3]:
source = 'openphish' 
source.title()

'Openphish'

In [5]:
pie_agg = primary_db_aggregate(df_primary, 'Source')

In [12]:
from urllib.parse import urlparse

In [18]:
url = 'http://abc.hostname.com/somethings/'
urlparse(url).netloc

'abc.hostname.com'

In [33]:
def domain_parser(url):
    t = urlparse(str(url))
    parsed = '.'.join(t.netloc.split('.')[-2:])

    if parsed == 'com':
        return t
    else:
        return parsed

In [30]:
domains = df_primary['URL'].apply(lambda x: domain_parser(x))

In [34]:
df_primary['Domain'] = df_primary['URL'].apply(lambda x: domain_parser(x))

In [40]:
df_primary.to_csv('primary.csv', index=False)

In [39]:
df_primary['Domain'].value_counts()

duckdns.org                   3396
weebly.com                    1235
000webhostapp.com             1146
google.com                    1126
krakentxy.com                  927
                              ...
southfladjusters.com             1
goswaptoken.com                  1
logil1-c1ov8tfraw7u592.xyz       1
prikrasa.com                     1
lesterandco.com                  1
Name: Domain, Length: 14062, dtype: int64

In [1]:
from phintel_funcs import *

In [6]:
import pandas as pd
from phintel_funcs import *

In [2]:
df_primary = pd.read_csv('primary.csv')

In [14]:
df_agg = primary_db_aggregate(df_primary, ['Source', 'Domain'])

In [15]:
sources = ['openphish', 'phishtank', 'phishstats']

In [17]:
df_subset = pd.concat(df_agg[df_agg['Source'] == source].head() for source in sources)